---
import Enlace from "./Enlace.astro";
---

<div class="flex justify-center mb-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <Enlace
      href="/documentacion"
      icon="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
      title="Documentación"
      description="Guías completas y ejemplos de uso"
      color="blue-400"
    />
    <Enlace
      href="/reportar"
      icon="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192L5.636 18.364M12 2.25a9.75 9.75 0 109.75 9.75A9.75 9.75 0 0012 2.25z"
      title="Reportar"
      description="Informar de errores y problemas"
      color="indigo-400"
    />
  </div>
</div>
