<footer class="flex flex-col items-center justify-center text-center">
    <p class="text-center text-sm text-gray-400 mb-4">
      &copy; 2025 Todos los derechos reservados.
    </p>
    <a href="https://github.com/PabloGonSan8" rel="noreferer noopener" target="_blank" class="text-sm text-gray-400 mb-4">
        Pablo González Sánchez
    </a>
</footer>