<footer class="flex flex-col items-center justify-center">
    <p class="text-center text-sm">
      &copy; 2025 Todos los derechos reservados.
    </p>
    <a href="https://github.com/PabloGonSan8" rel="noreferer noopener" target="_blank" class="text-sm">
        Pablo González Sánchez
    </a>
</footer>