---
import Header from "@components/Header.astro";
import Enlaces from "./Enlaces.astro";
import Footer from "./Footer.astro";
---

<main class="min-h-screen flex items-center justify-center px-4">
    <div class="max-w-4xl mx-auto text-center text-white">
        <Header />
        <Enlaces />
        <Footer />
    </div>
</main>
