---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Documentación">
  <header class="max-w-2xl mx-auto text-center text-white pt-4">
    <h1 class="text-4xl font-bold mb-6">Documentación</h1>
    <p class="text-lg text-gray-300 mb-8">Aquí encontrarás la documentación de la API española, ejemplos de uso y detalles de los endpoints.</p>
  </header>
</Layout> 